.footer{
    background-color: rgb(192,235,148);
    height: 30vh;
    margin-top: 20px;
    display: flex;
    padding-top: 15px;
    color: blue;
    p{
        flex: 1;
        color: rgb(131, 97, 35);
    }
    .links{
        flex: 2;
        color: white;
        
        li{
            list-style: none;            
            cursor: pointer;
            margin-bottom: 5px;
            color: white;
            &:hover{
                background-color: rgb(1,52,47);
                border-radius: 5px;
                padding: 5px;
                max-width: fit-content;
            }
            
        }
    }
    .contact{
        flex: 2;
    }
}